@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .max-width {
    @apply max-w-[1920px] mx-auto px-[8px] tablet:px-[40px] desktop:px-[80px];
  }

  .btn {
    @apply flex items-center justify-center gap-2 rounded px-4 py-2 capitalize text-grey-700;
  }

  .btn-primary {
    @apply text-white bg-blue;
  }
}
